@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-family-montserrat: "Montserrat", sans-serif;

    --color-custom-blue: rgba(28, 100, 242, 1);
    --color-banner-1: #FDC200;
    --color-banner-2: #FF2C2C;
    --color-banner-3: #21AD61;
    --color-banner-4: #723DA6;

    --shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
    --shadow-right: 10px 0 10px -5px rgba(0, 0, 0, 0.3);

    --color-custom-gradient: linear-gradient("to right", #111827, #1f2937);
    --color-button-gradient: linear-gradient(to right, #7e22ce, #ef4444);
    --color-custom-gradient2: linear-gradient(135deg, #f5f5f5, #eae7dc);
}